force-app/main/default/flows/Notify_Onboarding_On_LAND_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Notify_Onboarding_On_LAND_Won</fullName>
    <actionCalls>
        <description>Alerta de error en la ruta de fallo (corrige el riesgo de fault-path silencioso). Reemplazar la direccion destino REEMPLAZAR_ALERTA@veleiro.ai por el correo real del equipo antes de activar (paso M-1).</description>
        <name>Send_Fault_Email</name>
        <label>Enviar Correo de Alerta de Error</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Handle_Email_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>REEMPLAZAR_ALERTA@veleiro.ai</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error en Flow Notify_Onboarding_On_LAND_Won</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varFaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Segundo mensaje de Slack publicado como RESPUESTA EN EL HILO del mensaje de anuncio, usando el timestamp capturado en varSlackTs. Contiene el checklist de onboarding.</description>
        <name>Send_Onboarding_Thread</name>
        <label>Responder en Hilo (Checklist Onboarding)</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T082CRCFT46</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C09H6KT2NMC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OnboardingThreadSlack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>varSlackTs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Veleiro_Slack</name>
        <label>Send to Veleiro Slack</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Send_Onboarding_Thread</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T082CRCFT46</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdForToken</name>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C09H6KT2NMC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackBotName</name>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>LANDGanadaSlack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>viewApiName</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varSlackTs</assignToReference>
            <name>slackMessageTimestamp</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Email_Fault</name>
        <label>Capturar Error de Correo (terminal)</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_Fault</name>
        <label>Capturar Error</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Fault_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Is_LAND</name>
        <label>Es Oportunidad LAND</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No es LAND</defaultConnectorLabel>
        <rules>
            <name>Is_LAND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cam_User</targetReference>
            </connector>
            <label>LAND</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Fecha de vencimiento de la tarea = Fecha de Cierre + 3 dias habiles (aproximado saltando fines de semana). 1900-01-07 fue domingo, por lo que MOD(...,7): 0=Dom,1=Lun,...,6=Sab.</description>
        <name>fDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD($Record.CloseDate - DATE(1900,1,7),7),
0, $Record.CloseDate + 4,
1, $Record.CloseDate + 3,
2, $Record.CloseDate + 3,
3, $Record.CloseDate + 5,
4, $Record.CloseDate + 5,
5, $Record.CloseDate + 5,
6, $Record.CloseDate + 4,
$Record.CloseDate + 3)</expression>
    </formulas>
    <formulas>
        <name>fTaskSubject</name>
        <dataType>String</dataType>
        <expression>"Kickoff onboarding cliente: " &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Onboarding on LAND Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Onboarding_Task</name>
        <label>Crear Tarea de Onboarding para Cam</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_to_Veleiro_Slack</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Traspaso post-venta: la Oportunidad LAND se marco como Closed Won. Iniciar el onboarding del cliente y coordinar la relacion de Committed-Spend.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCamUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Busca el usuario dueno del onboarding por Nombre. VERIFICAR: reemplazar 'Camilo Velasquez' por el Nombre exacto o usar Username/Alias si hay ambiguedad (paso M-3).</description>
        <name>Get_Cam_User</name>
        <label>Obtener Usuario Cam (dueno onboarding)</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Camilo Velasquez</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varCamUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6. Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Is_LAND</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LANDGanadaSlack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:tada: *¡LAND ganada!* — {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;*Cuenta:* {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;*Tarifa por AWU:* {!$Record.Per_AWU_Rate__c}&lt;/p&gt;&lt;p&gt;*Commit mensual (AWU):* {!$Record.AWU_Monthly_Commit__c}&lt;/p&gt;&lt;p&gt;*Fecha de cierre:* {!$Record.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;@CAM_SLACK_ID&amp;gt; arranca el onboarding del cliente :rocket:&lt;/p&gt;&lt;p&gt;Ya se creó una tarea de *kickoff* en Salesforce (vence en 3 días hábiles).&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingThreadSlack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:clipboard: *Checklist de onboarding* — responsable: Cam&lt;/p&gt;&lt;p&gt;1. Agendar la reunión de kickoff con el cliente.&lt;/p&gt;&lt;p&gt;2. Confirmar la firma de contrato y el pago PAYG inicial.&lt;/p&gt;&lt;p&gt;3. Provisionar los usuarios del cliente.&lt;/p&gt;&lt;p&gt;4. Configurar el seguimiento de consumo (AWU) y abrir la relación de Committed-Spend.&lt;/p&gt;&lt;p&gt;5. Registrar la fecha objetivo de primer valor (time-to-first-value).&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCamUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Guarda el timestamp (ts) del primer mensaje de Slack para publicar el segundo como respuesta en el mismo hilo.</description>
        <name>varSlackTs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>