force-app/main/default/flows/Spawn_Committed_Spend_On_LAND_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Spawn_Committed_Spend_On_LAND_Won</fullName>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Handle_Fault</name>
        <label>Capturar Error</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Should_Spawn</name>
        <label>Debe Crear Committed-Spend</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No crear</defaultConnectorLabel>
        <rules>
            <name>Spawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingChild.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Committed_Spend</targetReference>
            </connector>
            <label>Crear</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>varNewName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; " - Committed Spend"</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Spawn Committed-Spend on LAND Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Committed_Spend</name>
        <label>Crear Oportunidad Committed-Spend</label>
        <locationX>446</locationX>
        <locationY>527</locationY>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AWU_Monthly_Commit__c</field>
            <value>
                <elementReference>$Record.AWU_Monthly_Commit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commit_Eligible_Date__c</field>
            <value>
                <elementReference>$Record.Commit_Eligible_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNewName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_AWU_Rate__c</field>
            <value>
                <elementReference>$Record.Per_AWU_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCommittedSpendRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4. Proposal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Committed_Spend_RT</name>
        <label>Get RecordType Committed-Spend</label>
        <locationX>50</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Committed_Spend</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed_Spend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <outputReference>varCommittedSpendRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Committed_Spend</name>
        <label>Get Existing Committed-Spend (dedup)</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Spawn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <outputReference>varExistingChild</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Committed_Spend_RT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6. Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCommittedSpendRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varExistingChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>